<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Baby Search 2</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/favicon.ico') }}">
 
    <!-- Importing all the Bootstrap Dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    
  <!-- Importing all the Bootstrap Dependencies for Table Pagination-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">   -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
    body, html {
        height: 90%;
        margin: 0;
    }
    .form-control {
  display: inline-block;
  width: 250px;
  margin-top: 50px;
}
.jumbotron {
  background-color:rgb(136, 221, 183);
}


h1 {
  color:white;
}
    </style>

  </head>

<body>

		<nav class="navbar navbar-default">
        <div class="container-fluid">

    
          <ul class="nav navbar-nav navbar-right">
  
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Options<span class="caret"></span></a>
                    <ul class="dropdown-menu"> -->
  
  <!--These links do NOTHING. We need to change the names to match the files-->
              <li><a style=padding-top:15px; href="/">Home</a></li>
              <li><a style=padding-left:40px;padding-top:15px href="search">Name Search</a></li>
              <li><a style=padding-right:20px;padding-left:15px;padding-top:15px href="scroll">Story Telling</a></li>
    <li><a style=padding-right:20px;padding-top:15px href="table">Data</a></li>
    <li><a style=padding-right:50px;padding-top:15px href="wire">Wire Chart</a></li>
            </ul>
      </div>
      </div>
      </nav>

  <div class="container">
    <div class="jumbotron">
      <h1 style=padding-left:220px;>
          <b style="color:darkslategray">
        Baby Name Mania
        </b>
        <!--<span >2018</span>-->
      </h1>
      
      <p></p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-body" style="background-color: black">
            <b style="color:white">
            Find Your Name
          </b>
          </div>
        </div>
        <div class="company" style= color:black;>
          Do you think your name was popular in the United States over the past 130 years? This is your chance to find out! Enter your
          name, cross your fingers, and see if a decent amount of people thought your name was worthy enough to slap on their
          baby.
        </div>
        <hr>
        <div>   </div>
        <div class="company" style= color:black;>
          Fine print: Section I. We are looking at the the top 10 names only. If your names falls out of the top ten, we declare it
          UNPOPULAR. Sorry if that seems harsh. Section II. We are searching the turn of the decades only. Again, if that
          seems harsh, we apologize. Please donate to our team and we will be glad to run this project on a bigger, more
          powerful server. Then we will declare your name not necessarily the most popular, but the most revered.
        </div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div style="background-color: black";>
          <div class="panel-body" style="padding-left:310px";>
              <b style="color:white">
            Happy Babies
            </b>
          </div>
        </div> 
        </div>

        <img src="/static/css/Happy_Babies.jpg">
      </div>
    </div>


    <div class="container">

      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <form method="POST" action="/send" role="form" , name="petform">
            <div class="form-group">
              <label for="inputName"> What name would you like to find?</label>

              <input type="text" class="form-control" id="inputName" name="findName" placeholder="Name">
            </div>

<div style=padding-left:310px;>
<input type="submit" value="submit" class="btn btn-default">
</form>
        
      </div>

      </div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8" style="color: black">

          <p class="result_text">{{name}} was a popular {{gender}} name in: {{answer}}</p>

        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-offset-2 col-md-8" style="color: black">

          <p class="result_text">Is your name making a splash in social media? Here is the latest tweet containing, tweeting from, or tweeting to your name: {{tweeting_name}}</p>

          <p class="result_text">{{additional}}</p>
            
        </div>
      </div>

    </div>
</body>

</html>