<!DOCTYPE html>
<html lang="en">
<head>

<link href="https://unpkg.com/tabulator-tables@4.5.0/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.5.0/dist/js/tabulator.min.js"></script>
<style>
        .center {
          margin: auto;
          width: 60%;
          border: 3px solid #73AD21;
          padding: 10px;
        }
        </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="../static/Catalog.css"/>
    <link rel="stylesheet" href="node_modules/xterm/css/xterm.css" />
    <link rel="stylesheet" href="C:\Users\14804\Documents\Vanderbilt\Software Engineering Security\Final2\static\slider.css">
</head>
<body>

<!-- Header -->
<header id="header" class="alt">
<a href="#menu">Menu</a>
</header>

<nav id="menu">
<ul class="links">
<li><a href="/">Home</a></li>
<li><a href="catalog">Catalog</a></li>
<li><a href="video">Video</a></li>
</ul>
</nav>

<!-- Banner -->
<section id="banner">
<div class="inner">
<header>
<h1>RINSD IoT Catalog</h1>
<!-- Table -->
<div class="center",  width= "900px";>
		<div id="example-table">
		</div>
		</div>
		<!-- EndTable -->
		<p id="demo"></p>
</header>
</div>
</section>
<!-- TEST -->

<!-- ENDTEST -->

</body>
<script src="../static/table.js"></script>
<script>
 var tabledata = [
 	{id:1, IP:"126.32.65", Version:"1.32", Desc:"Cassandra"},
 	{id:2, IP:"89.187.190.144", Version:"1.2.65", Desc:"Alexa"},
 	{id:3, IP:"126.75.144.133", Version:"2.36.21", Desc:"ChromeCast"},
 	{id:4, IP:"82.208.7.106", Version:"5.0.89", Desc:"MySQL"},
 	{id:5, IP:"126.32.65", Version:"1.65", Desc:"Kindle"},
 ];
</script>
<script>
    //create Tabulator on DOM element with id "example-table"
var table = new Tabulator("#example-table", {
 	height:205, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
 	data:tabledata, //assign data to table
 	layout:"fitColumns", //fit columns to width of table (optional)
 	columns:[ //Define Table Columns
	 	{title:"IP", field:"IP", width:150},
	 	{title:"Version", field:"Version", align:"left", width:150},
	 	{title:"Desc", field:"Desc"},
 	],
 	rowClick:function(e, row){ //trigger an alert message when the row is clicked
 		alert("IP " + row.getData().IP + " Set!");
		 var ipset = row.getData().IP;
		 console.log(ipset)
		 document.getElementById("demo").innerHTML =  ipset;
 	},
});
</script>
		<!-- Scripts -->
        <script src="../static/jquery.min.js"></script>
        <script src="../static/jquery.scrolly.min.js"></script>
        <script src="../static/jquery.scrollex.min.js"></script>
        <script src="../static/skel.min.js"></script>
        <script src="../static/util.js"></script>
		<script src="../static/main.js"></script>
		

</html>